<div class="wrapper">
  <h3 class="mb-3"><%= current_user.username %>'s cookbook</h3>
  <%# <a class="add-recipe">Add new recipe</a> %>
  <%= link_to new_collection_path do %>
    New Category
  <% end %>
  <%# <%= render "shared/sort-button" %>
  <div class="items d-flex flex-column gap-3 mt-3">
    <% @collections.each do |collection| %>
      <%= render "shared/cookbook-item", collection: collection %>
    <% end %>
  </div>
  <br>
  <%# <= link_to "My Pantry", user_ingredients_path, class:"btn btn-outline-success"%>
</div>
