<div class="wrapper">
  <h3 class="mb-3 d-flex justify-content-center">New category</h3>
  <hr>
  <%= simple_form_for @collection do |f| %>
    <%= f.input :name %>
    <div class="d-flex align-items-center gap-2">
      <%= f.button :submit, "Create", class: "btn-save" %>
      <%= link_to "Cancel", collections_path, class: "btn-cancel" %>
    </div>
  <% end %>
  <br />
</div>
