.show-page {
    .image-container{
        position: relative;
    }
    .recipe-image {
        width: 100vw;
        height: 300px;
        object-fit: cover;
        margin-top: 2em;
    }
    .addcookbook {
        position: absolute;
        bottom: 0;
        right: 0;
        background: #455A64;
        color: white;
        font-size: 1.2em;
        font-weight: bold;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        padding: 0.5em;
        // box-shadow: 0 0 5px rgba(0,0,0,0.3);
        cursor: pointer;
    }

    .read{
        background: #455A64;
        color: white;
        border: 0;
        padding: 0.4em;
    }
}