<div class="container">
  <h3> Your ingredient list</h3>

  <%= render "shared/search" %>
  <em> Implement an autocomplete with ingredient from our DB </em>

  <% @user_ingredients.each do |user_ingredient| %>
    <ul>
      <li><%= user_ingredient.ingredient.name %></li>
    </ul>
  <% end %>
  <%= link_to "Find recipes", recipes_path %>
  <%= link_to "back", :back %>
</div>
