<div class="wrapper recipe-index" data-controller="search-repices">
  <h3 class="mb-3 d-flex justify-content-center">Delicious recipes</h3>
  <%= form_with url: recipes_path, method: :get, html: {class:
      "d-flex, mb-3", data: {search_repices_target: "form"}} do |f| %>
    <%= f.text_field :query,
            class: "form-control",
            placeholder: "Search for a recipe",
            value: params[:query],
            data: {search_repices_target: "input", action: "keyup->search-repices#search"}
        %>
  <% end %>
  <div class="d-flex flex-column gap-3" data-search-repices-target="recipes">
    <% if @recipes.blank? %>
      <div class="no-result">
        <p>no recipe found</p>
      </div>
    <% else %>
      <%= render 'list', recipes: @recipes %>
    <% end %>
  </div>
</div>
