<div data-controller="search-repices">
  <%= render "shared/search" %>
  <div class="d-flex flex-column gap-3" data-search-repices-target="recipes">
    <%= render 'list', recipes: @recipes %>
  </div>
</div>
