<div class="card-product">
  <%# <img src="https://banner2.cleanpng.com/20180920/wxq/kisspng-clip-art-literary-cookbook-recipe-cooking-chef-recipe-label-icon-symbol-spoon-free-image-5ba3bc73b1dc29.6926253215374572677285.jpg" /> %>
  <div class="card-product-infos">
    <h4>Save to your Cookbook</h4>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
  </div>
</div>
<br>
<div class="card-product ">
  <div class="card-product-infos">
    <h4>Create your own recipe</h4>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
  </div>
  <%# <img  class="float-right" src="https://i2.wp.com/www.downshiftology.com/wp-content/uploads/2023/09/Vegetable-Soup-main.jpg"/> %>
</div>
<br>
<div class="card-product mb-2">
  <%# <img src="https://cdn.loveandlemons.com/wp-content/uploads/2023/11/spinach-salad-1-772x1024.jpg" /> %>
  <div class="card-product-infos">
    <h4>Surprise me!</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </div>
</div>
