<div class="cookbook-items">
    <div class="cookbook-item">
      <div class="description">
        <h3>Breakfast</h3>
        <p>5 recipes</p>
      </div>
      <%= image_tag("img_holder.png") %>
    </div>
</div>
