

<div class="recipe_card-container">
    <div class="recipe_card mb-5">
  <div class="card-content" style="background-image: url('https://lh3.googleusercontent.com/p/AF1QipMnGqIIKEHUaeFkN7Fr3wuskUqw1QXyQtC6l4lC=s1360-w1360-h1020')">
      <h5 class="card-title text-white"><%= recipe.name %></h5>
      <p class="card-text text-white">Servings : <%= recipe.servings %></p>
    <i class="fas fa-folder-plus" ></i>
    </div>
    <div class="card-footer">
      <small class="text-muted">
      </small>
    </div>
  </div>
</div>
