<div class="recipe_card-container">
  <div class="recipe_card mb-5">
    <div class="card-content" style="background-image: url('<%= cl_image_path recipe.image.key, height: 152, width: 390, crop: :fill %>')
">
      <h5 class="card-title text-white"><%= recipe.name %></h5>
      <p class="card-text text-white">Servings : <%= recipe.servings %></p>
      <%# <i class="fas fa-folder-plus" ></i> %>
    </div>
    <div class="card-footer">
      <small class="text-muted">
      </small>
    </div>
  </div>
</div>
