<%= link_to  recipe_path(recipe) do %>
  <div class="recipe-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path recipe.image.key, crop: :fit %>')">
    <%= recipe.name %>
    <div class="folder-icon">
      <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="40" height="40" rx="20" fill="#4FA095"/>
        <path d="M20 26C20 26.34 20.04 26.67 20.09 27H11C10.4696 27 9.96086 26.7893 9.58579 26.4142C9.21071 26.0391 9 25.5304 9 25V13C9 11.89 9.89 11 11 11H17L19 13H27C27.5304 13 28.0391 13.2107 28.4142 13.5858C28.7893 13.9609 29 14.4696 29 15V20.81C28.12 20.3 27.1 20 26 20C22.69 20 20 22.69 20 26ZM27 25V22H25V25H22V27H25V30H27V27H30V25H27Z" fill="white"/>
      </svg>
    </div>
  </div>
<% end %>
