<div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <!-- I am not sure this @path will work here. It is definded in the controller -->
    <%= form_with url: recipes_path, method: :get, html: {class: 
      "d-flex, mb-2", data: {search_repices_target: "form"}} do |f| %>
      <%= f.text_field :query,
            class: "form-control",
            placeholder: "Search for a recipe",
            value: params[:query],
            data: {search_repices_target: "input", action: "keyup->search-repices#search"}
        %>
    <% end %>
  </div>
</div>
