<div class="wrapper">
  <%# <h1 class="title fw-bold">Ingredients</h1> %>
  <h3 class="mb-3 d-flex justify-content-center">Ingredients</h3>

  <div class="container">
    <%= render "shared/search" %>
    <%= render "shared/ingredient-category" %>
  </div>
</div>
