
<div class="bg-white bg-image p-5" style="background-image: url('https://www.liveinhomecare.com/wp-content/uploads/2020/09/vegetables-that-are-healthier-for-you-cooked-than-raw.jpg')">
      <div class="container p-3">
        <div class="row ailgn-text-center">
          <div class="col-12  text-center">
            <h3><em>Ecipes Edge</em></h3>
            <p>Tasty Vegetarian Meals</p>
          </div>
        </div>
      </div>
</div>


<div class="my-3">
<%= render "shared/buttons" %>
</div>

<div class="container mt-5">
  <%= render "shared/cards" %>
</div>
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to "My cookbookðŸ³", user_recipes_path %>
