<div class="bg-white bg-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'home-img.jpg' %>); height: 100vh; background-size: cover

; background-position: center;">
  <div class="home-page-content">
    <h1 class="heading mb-3">ECIPESEDGE</h1>
    <div class="home-page-card">
      <p>Tasty vegetarian recipes with</p>
      <p>WHATS LEFT IN YOUR FRIDGE</p>
    </div>
    <%= link_to new_user_session_path do %>
      <button class="btn-cta mt-3">GET STARTED
      </button>
    <% end %>
  </div>
</div>
