<<<<<<< HEAD

<div class="bg-white bg-image" style="background-image: url('https://i2.wp.com/www.downshiftology.com/wp-content/uploads/2023/09/Vegetable-Soup-main.jpg')">
      <div class="container p-3">
        <div class="row ailgn-text-center">
          <div class="col-12  text-center">
            <h3><em>Ecipes Edge</em></h3>
            <p>Tasty Vegetarian Meals</p>
          </div>
        </div>
      </div>
</div>


<div class="my-3">
<%= render "shared/buttons" %>
</div>

<div class="container mt-5">
  <%= render "shared/cards" %>
</div>
=======
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to "My cookbookðŸ³", user_recipes_path %>
>>>>>>> 114adb6ba46ba62504dc2567a636bca33a190579
