
<div class="bg-white bg-image p-5" style="background-image: url('https://www.liveinhomecare.com/wp-content/uploads/2020/09/vegetables-that-are-healthier-for-you-cooked-than-raw.jpg')">
  <div class="container p-3">
    <div class="row ailgn-text-center">
      <div class="col-12  text-center text-white text-bold">
        <h3><em>Ecipes Edge</em></h3>
        <p>Tasty Vegetarian Meals</p>
        <div class="my-3">
          <%= link_to "get started",new_user_session_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container mt-5">
  <%= render "shared/cards" %>
</div>
