.navbar-lewagon {
  justify-content: space-between;
  // box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.167);
  background: #455A64;
  color: white;
  width: 100%;
  padding: 0;
  top: 0;
  z-index: 1000;
  position: fixed;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.nav-link {
  padding: 0;
}

h3{
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 2rem;
}
