// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.html {
  font-size: 62.5%;
}
body {
  font-family: 'Nunito', sans-serif;
  background: #F1F8E9;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100vw;
}

p,a {
  font-size: 1.3rem;
}

a {
  text-decoration: none;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 4em 1em 6em 1em;
}

.body-content {
  min-height: calc(100vh - 72px - 79.33px);
  margin-bottom: 7em;
  margin-top: 5em;
}

footer {
    margin-top: auto;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #455A64;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.my-content {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--read-more-line-clamp, 3);
}


.img-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.modal-content, .dropdown-menu {
  border-radius: 8px;
  background: #F1F8E9;
}